@use "./mixins" as m;

:root {
  --scroll-time: 1.5s;
  --btn-width: 15rem;
  --screen-padding: 10vh;

  @include m.respond(breakpoint-1) {
    --screen-padding: 2vh;
  }
  @include m.respond(mid) {
    --screen-padding: 2vh;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include m.respond(high) {
    font-size: 50%;
  }
  @include m.respond(mid) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
}

.heading-primary {
  font-size: 10rem;
}

.heading-secondary {
  font-size: 10rem;
}

.game-window {
  height: 100vh;

  overflow: hidden;
  position: relative;
}

.container {
  padding: var(--screen-padding);
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;

  transition: transform var(--scroll-time) cubic-bezier(0.83, 0, 0.17, 1);

  &--intro {
    transform: translateX(0);
  }
  &--room {
    transform: translateX(100%);
  }
  &--game {
    transform: translateX(100%);
  }
  &--round-end {
    transform: translateX(100%);
  }
  &--game-end {
    transform: translateX(100%);
  }
}

.container-inner {
  position: relative;
  height: 100%;
}

.btn {
  width: var(--btn-width);
  margin-top: 4rem;
  align-self: center;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 5rem 0;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  &:active {
    background-color: rgba(#000000, 0.2);
  }
}

.alert {
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);

  background-color: #fff;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  opacity: 1;
  transition: all 0.2s;
}

// .pointAlert {
//   padding: 1rem;
//   box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);

//   background-color: #fff;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   font-size: 10rem;
//   opacity: 1;
//   transition: all 0.1s;
// }
