:root {
  --scroll-time: 1.5s;
  --btn-width: 15rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.heading-primary {
  font-size: 10rem;
}

.heading-secondary {
  font-size: 10rem;
}

.game-window {
  height: 95vh;

  //   overflow: hidden;
  position: relative;
}

.container {
  padding: 10rem 0;
  height: 95vh;
  width: 100%;
  text-align: center;
  position: absolute;

  transition: all var(--scroll-time) cubic-bezier(0.83, 0, 0.17, 1);

  &--intro {
    transform: translateX(0);
  }
  &--room {
    transform: translateX(100%);
  }
  &--game {
    transform: translateX(100%);
  }
  &--round-end {
    transform: translateX(100%);
  }
  &--game-end {
    transform: translateX(100%);
  }
}

.container-inner {
  position: relative;
  height: 100%;
}

.btn {
  width: var(--btn-width);
  margin-top: 4rem;
  align-self: center;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 5rem 0;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
}
