doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    script(src='./js/FOUC_FIX.js')
    title SDG
  body
    main.game-window
        .alert-container
        .container.container--intro
          .container-inner
            h1.heading-primary= data
            form.intro(action="" method="post") 
              .intro__input
                label.intro__label Name
                input(type="text" name="name" id="name" required)
              .intro__input
                label.intro__label Room code
                input.intro_room_code_input(type="text" name="code" id="code")
              .intro__submit
                input.btn.btn--join-room(type="submit" value="Join") 
                input.btn.btn--create-room(type="submit" value="Create") 

        .container.container--room
          .container-inner
            h2.heading-secondary Room
            .lds-ellipsis-container
                .lds-ellipsis
                    div
                    div
                    div
                    div
            .room 
              label.room__code-label Room code:
              label.room__code
              label.room__players-label Players:
              ul.room__player-list
              button.btn.btn--start-game(type="button") Start game
        


        .container.container--game
          .container-inner
            .game
              .drwScreen
                .drwScreen__tools
                  .drwScreen__tool.drwScreen__tool--medium
                    span.tool-icon.tool-icon--medium &nbsp;
                  .drwScreen__tool.drwScreen__tool--big
                    span.tool-icon.tool-icon--big &nbsp;
                div.drwScreen__picture-container
                  canvas.drwScreen__picture(id="drwScreenPicture")
                  label.drwScreen__picture--role Drawista
                .drwScreen__colors
                  .drwScreen__color.drwScreen__color--white
                  .drwScreen__color.drwScreen__color--black
              .game__info
                .game__info--info-box 
                  .game__info--refresh-btn(type="button")
                    span.game__info--refresh-counter
                    svg.refresh-svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" )
                      path(stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99")
                  p.game__info--info-text You gotta know this!

                ul.game__info--player-list
                  li exam
                  li ampleplayer2fs1
                  li examplepl ayerassdaa
                .game__info--comments
                  ul.game__info--comment-list
                form.game__info--form(action="#")
                  input.game__info--input(type="text" name="comment" id="comment" placeholder="Write guess:" )
                  button.game__info--btn(type="submit") >


        .container.container--round-end
          .container-inner
            h2.heading-secondary Round end screen
            ul.round-end--winners 
              li.round-end--winner
            button.btn Next game

        .container.container--game-end
          .container-inner
            h2.heading-secondary Game end
            button.btn New game

    script(src='./js/utilities.js' type="module")
    script(src='./js/index.js' type="module")
    script(src='./js/game.js' type="module")
    script(src='./js/lobby.js' type="module")
    script(src='./js/eventSources.js' type="module")
    script(src='./js/alerts.js' type="module")
    script(src='./js/drawing.js' type="module")
