<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>SDG</title>
  </head>
  <body>
    <main class="game-window">
        <div class="container container--intro">
            h1(class="heading-primary")= data
            <button class="btn">Create room</button>
        </div>
        <div class="container container--game">
            <h2 class="heading-secondary">Game screen</h1>
            </div>
            <div class="container container--round-end">
                <h2 class="heading-secondary">Round end screen</h2>
                <button class="btn">Next game</button>
            </div>
            <div class="container container--game-end">
                <h2 class="heading-secondary">Game end</h2>
                <button class="btn">New game</button>
            </div>
        </main>
    <script src='./js/index.js'></script>   
  </body>
</html>
